*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  display: flex;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  background-color: rgb(224, 192, 132);
  
}

/* header */

header{
  height: 75px;
  background-color: yellow;
}
.container-header{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  line-height: 75px;

}
.container-header .header-50{
  width: 50%;
  height: 100%;
  border: 1px solid brown;
  background-color: orange;
}

header .menu{
  display: none;
}

/* main */

.col{
  width: 90%;
  height: 300px;
  margin: 25px 0;
  border: 1px solid black;
  background-color: yellowgreen;
}

main .container .col .col-40{
  height: 40%;
  border: 1px solid orange;
}
main .container .col .col-60{
  height: 60%;
  border: 1px solid orange;
}

main .container .col .col-70{
  height: 70%;
  border: 1px solid orange;
}
main .container .col .col-30{
  height: 30%;
  border: 1px solid orange;
}

/* footer */

footer{
  background-color: yellow;
}

.container-footer{
  margin: 0 auto;
  width: 90%;
  height: 400px;
  border: 1px solid black;
  background-color: aqua;
}

/* media query */

@media screen and (min-width:768px) {
  .container{
    background-color: red;
  }

  .col{
    width: 100%;
  }

  .tools{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tools .col-65{
    width: 65%;
  }
  .tools .col-30{
    width: 32%;
  }

  main .container .testimonials{
    display: flex;
  }
  main .container .testimonials .col-40{
    height: 100%;
    width: 30%;
  }

  main .container .testimonials .col-60{
    height: 100%;
    width: 70%;
    background-color: blue;
  }

  main .benefits-list{
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  main .benefits-list .col-1-3{
    width: 48%;
    background-color: blueviolet;
  }

  main .container .about{
    display: flex;
    justify-content: space-between;
  }
  main .container .about .col-70{
    height: 100%;
    width: 60%;
    background-color: aquamarine;
  }
  main .container .about .col-30{
    height: 100%;
    width: 35%;
    background-color: aquamarine;
  }
}

/* desktop */

@media screen and (min-width:1200px){
 
  header .menu{
    display: block;
  }
  header .menu-hamburger{
    display: none;
  }
  .container{
    background-color: violet;
  }

  main .container-50{
    flex-direction: row;
  }

  main .benefits-list .col-1-3{
    width: 30%;
  }
}