*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  display: flex;
}

body{
  font-family: 'PT Sans', sans-serif;
}

.container{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  
}

.radius{
  border-radius: 20px;
}

img{
  width: 100%;
  height: 100%;
}

.img-section{
  width: 100%;
  height: 50%;
  object-fit: contain;
}
/* header */

header{
  width: 100%;
  height: 75px;
  background-color: rgb(0, 132, 253);
  position: fixed;
 
}
.container-header{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  color: white;
  line-height: 75px;

}
.container-header .header-50{
  width: 50%;
  height: 100%;
}
.container-header .header-50 img{
  object-fit: contain;
  width: 80px;
  height: 75px;
}

header .menu{
  display: none;

}

.right{
  text-align: right;
}
.menu-hamburger{
  font-size: 1.5rem;
}

/* main */
main{
  padding-top: 75px;
}
.col{
  width: 90%;
  margin: 25px 0;
  background-color: rgb(181, 221, 255);
  text-align: center;
}
/* prima section */
.tools{
  padding: 50px 0 75px 0;
}

.col-65{
  height: 605px;
  padding: 30px 25px 0 25px;
  text-align: start;
}
.col-65 .h-50 h4{
  font-size: 1.5rem;
  color: rgb(0, 132, 253);
  padding-bottom: 30px;
}
.col-65 .h-50 .apple-button{
  color: white;
  height: 40px;
  width: 210px;
  background-color: rgb(0, 132, 253);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 30px;
}
.col-65 .h-50 .fa-apple{
 padding-right: 10px;
}
.col-30{
  height: 355px;
  padding: 30px;
}
.rem-tools{
  color: rgb(0, 132, 253);
}
.rem-tools .fa-solid{
  font-size: 5rem;
}
.rem-tools h4{
  font-size: 1.5rem;
  padding-top: 20px;
}
.col .h-50{
  height: 50%;
}
/* seconda section */

.container-50{
  background-color: rgb(149, 147, 230);
  width: 100%;
  padding: 35px 0;
}
.container-50 .col-50{
  background-color: rgb(149, 147, 230);
  color: white;
  padding: 30px 25px;
  text-align: start;
  width: 90%;
}
.container-50 .col-50 h3{
  margin: 40px 0;
  font-size: 2rem;
}
.container-50 .radius{
  background-color: white;
  color: black;
  text-align: center;
}
.container-50 .radius .row{
 justify-content: center;
}
.container-50 .radius h3{
  margin: 20px 0;
  font-size: 1.5rem;
}
.container-50 .radius .arrow{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(149, 147, 230);
  color: black;
  margin-top: 20px;
  justify-content: center;
  align-items: center;

}

/* terza section */

.testimonials{
  padding: 65px 0 110px 0;
  text-align: center;
  height: 100%;
  font-size: 1.3rem;
}
.testimonials h2{
  color: rgb(149, 147, 230);
  font-size: 2rem;
  padding: 40px 0;
}
.container-testimonials{
  height: 500px;
  background-color: rgb(149, 147, 230);
  color: white;
  padding: 30px 20px;
  border-radius: 50px;
}
.container-testimonials h4{
  margin-top: 20px;
}
main .container .col .col-40{
  height: 50%;
}
.radius-photo{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

main .container .col .col-60{
  height: 50%;

}

/* quarta section */
.section-benefit{
  height: 100%;
  width: 100%;
  background-color: rgb(149, 147, 230);
  padding: 70px 0 65px 0;
}
.section-benefit div h2{
 color: white;
 font-size: 2rem;
 text-align: center;
 margin-bottom: 50px;
}
.col-1-3{
  height: 400px;
  background-color: white;
  color: rgb(149, 147, 230);
  text-align: start;
  padding: 45px 30px;
  font-size: 1.2rem;
}
.col-1-3 h3{
  font-size: 3rem;
  margin-bottom: 35px;
}
.col-1-3 p{
  margin: 25px 0;
  color: rgb(129, 129, 129);
}
.col-1-3 div{
  color: white;
  background-color: rgb(149, 147, 230);
  height: 40px;
  width: 140px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
}

/* quinta section */
.container-about{
  margin: 90px 0 80px 0;
}
.about{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  font-size: 1.3rem;
}
main .container-about .col-70{
  height: 70%;
}
main .container-about .col-70 h4{
 font-size: 3rem;
 color: rgb(149, 147, 230);
}
main .container-about .col-70 p{
 margin-top: 70px;
}
main .container-about .col-30{
  height: 30%;
  color: rgb(149, 147, 230);
  font-size: 1.5rem;
}
main .container-about .col-30 p{
  margin: 30px 0;
}
main .container-about .col-30 .linkedin-button{
  color: white;
  background-color: rgb(149, 147, 230);
  height: 32px;
  width: 195px;
  border-radius: 20px;
  text-align: center;
  line-height: 32px;
  font-size: 0.8rem;
}

/* footer */

footer{
  background-color: rgb(149, 147, 230);
  color: white;
}

.container-footer{
  margin: 0 auto;
  width: 90%;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.footer-purple{
  height: 615px;
  padding: 65px 35px;
}
.footer-purple h4{
  margin: 30px 0 50px 0;
  font-size: 1.8rem;
}
.footer-purple h3{
  margin-bottom: 45px;
  font-size: 3rem;
  color: rgb(253, 193, 95);
}
.footer-purple div{
  margin: 35px 0;
  background-color: white;
  color: rgb(149, 147, 230);
  height: 65px;
  width: 265px;
  border-radius: 40px;
  text-align: center;
  line-height: 65px;
  font-size: 1.5rem;
}

.footer-down{
  background-color: rgb(51, 51, 51);
  height: 235px;
}
.footer-down .container-footer{
  padding: 40px 30px;
}
.footer-down .container-footer span{
  margin-bottom: 20px;
}
.footer-down .container-footer p{
  color: rgb(149, 147, 230);
}
/* media query */

@media screen and (min-width:768px) {
  .container{
    
  }
  .col{
    width: 100%;
  }

  .tools{
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tools .col-65{
    width: 65%;
    height: 565px;
  }
  .tools .col-65 .img-section{
   height: 50%;
   width: 60%;
  }
  .tools .col-30{
    width: 32%;
    height: 565px;
  }
  main .container-50 .col-50 .h3-strong{
    font-size: 4rem;
  }

  main .container .container-testimonials{
    display: flex;
    height: 280px;
  }
  main .container .container-testimonials .col-40{
    height: 100%;
    width: 30%;
  }
  main .container .container-testimonials .col-60{
    height: 100%;
    width: 70%;
    
  }

  main .benefits-list{
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
  }
  main .benefits-list .col-1-3{
    width: 48%;

  }

  main .container-about .about{
    display: flex;
    justify-content: space-between;
  }
  main .container-about .col-70{
    height: 100%;
    width: 60%;
  }
  main .container-about .col-70 h4{
    font-size: 4rem;
  }
  main .container-about .col-30{
    height: 100%;
    width: 35%;
  }

  footer .container-footer h3{
    font-size: 5rem;
  }
  footer .footer-down{
    height: 100%;
  }
  footer .footer-down .container-footer span{
    margin-bottom: 50px;
  }
}

/* desktop */

@media screen and (min-width:1200px){
 
  header .container-header{
    width: 80%;
  }
  header .menu{
    display: block;
  }
  header .menu ul{
    justify-content: space-around;
    align-items: center;
  }
  header .menu ul li{
    list-style: none;
  }
  header .menu ul li a{
    color: white;
    text-decoration: none;
  }
  header .menu ul li a:hover{
   color: blue;
  }
  header .menu-hamburger{
    display: none;
  }
  header .menu ul li .button-started{
    height: 35px;
    width: 120px;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
  }
  header .menu ul li .button-started:hover{
    background-color: gray;
  }
  header .menu ul li .button-started a{
    color: black;
  }
  header .menu ul li .button-started a:hover{
    color: blue;
  }


  .container{
    width: 80%;
  }

  main .tools .col-65{
    display: flex;
    height: 345px;
    width: 65%;
  }
  main .tools .col-65 .h-50{
    height: 100%;
    width: 50%;
  }
  main .tools .col-65 .img-section{
    height: 100%;
    width: 40%;
   
  }
  main .tools .col-30{
    height: 345px;
    width: 30%;
    background-color: ;
  }
  main .violet{
    background-color: rgb(149, 147, 230);
  }
  main .container-50{
    flex-direction: row;
    width: 80%;
  
  }
  main .container-50 .col-50{
    width: 50%;
  }

  main .testimonials h2{
    font-size: 3rem;
  }
  main .benefits-list .col-1-3{
    width: 30%;
    height: 100%;
    
  }

  footer .container-footer{
    width: 80%;
  }
}