*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row{
  display: flex;
}

body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
  margin: 0 auto;
  width: 1140px;
  height: 100%;
  border: 1px solid red;
  background-color: orange;
  
}

.container.row div{
  margin: 10px;
  border: 1px solid blue;
  background-color: lightskyblue;
  border-radius: 20px;
  height: 350px;
  text-align: center;
}

/* header */
header {
  height: 75px;
  width: 100%;
  margin: 20px auto;
}
.container-header{
  margin: 0 auto;
  height: 100%;
  width: 1140px;
  border: 1px solid black;
  background-color: yellow;
}
.container-header .header-50{
  width: 50%;
  height: 100%;
  border: 1px solid brown;
}
.container-header .menu-hamburger{
  display: none;
}
.container-header .menu{
  display: block;
}


/* main */

.container .col-70{
  width: 70%;
}
.container .col-30{
  width: 30%;
}

.tools{
  justify-content: space-between;
}
.container .col-1-3{
  width: calc(100%/3);
}

.container .col-50{
  width: 50%;
}

.container .list{
  width: 100%;
  margin-top: 20px;
  border: 1px solid blue;
  background-color: lightskyblue;
  border-radius: 20px;
}

.container .list h2{
  text-align: center;
}
.container .list div{
  height: 350px;
  margin: 10px;
  border: 1px solid yellow;
  text-align: center;
}

.container .list .col-20{
  width: 20%;
  border: 1px solid green;
  background-color: yellowgreen;
  border-radius: 20px;
}
.container .list .col-80{
  width: 80%;
  border: 1px solid green;
  background-color: yellowgreen;
  border-radius: 20px;
}

.benefits-list{
  flex-wrap: wrap;
  justify-content: space-between;

}

.container .col-1-3{
  width: 30%;
}

/* footer */

footer .container-footer{
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  height: 400px;
  width: 600px;
  border: 1px solid black;
  background-color: yellow;
}

/* media query */


/* mobile query */

@media screen and (max-width:380px){
  .container-header{
    width: 100%;
  }
  .container-header .menu{
    display: none;
  }
  
  .container-header .menu-hamburger{
    display: block;
  }
  .container{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  main .container .col{
    width: 90%;
  }

  .container .list{
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .container .list .col{
    width: 90%;
  }

  footer .container-footer{
    width: 100%;
  }
}
  
/* tablet query */

@media screen and (min-width:381px) and (max-width:768px) {
  .container-header{
    width: 100%;
  }

  .container{
    width: 100%;

  }
  main .container .col{
    background-color: red;
   
  }
  main .benefits-list .col-1-3{
    background-color: pink;
    width: 47%;
    justify-content: baseline;
  }

  main .container .col-50{
    width: 100%;
    flex-direction: column;
    
  }

  .container .list{
    width: 100%;
    background-color: violet;
  }

  footer .container-footer{
    width: 100%;
  }
}

@media screen and (min-width:769px){
  .container-header{
    width: 100%;
  }

  .container{
    width: 100%;
  }
  footer .container-footer{
    width: 100%;
  }
}